<section class="pt-20 md:pt-26 pb-6 bg-white" style="background-image: url('/assets/pattern-white.svg'); background-position: center;">
  <div class="container px-4 mx-auto">
    <div class="max-w-sm mx-auto">
      <div class="mb-6 text-center">
        <a class="inline-block mb-6" href="#">
          <img class="h-16" src="/assets/smartgest-logo.svg" alt=""></a>
        <h3 class="mb-4 text-2xl md:text-3xl font-bold">Sua Conta</h3>
      </div>
      <%= form_with model: @user, url: :update_account, method: :put do |form| %>
        <div class="mb-6">
          <%= form.label :unconfirmed_email, "Novo Email", class: "block mb-2 text-coolGray-800 font-medium" %>
          <%= form.email_field :unconfirmed_email, placeholder: "exemplo@email.com.br", class: "appearance-none block w-full p-3 leading-5 text-coolGray-900 border border-coolGray-200 rounded-lg shadow-md placeholder-coolGray-400 focus:outline-none focus:ring-2 focus:ring-green-500 focus:ring-opacity-50" %>
          <% unless form.object.errors[:unconfirmed_email].empty? %>
            <p class="-mb-6 text-red-500 ml-2">
              <%= form.object.errors[:unconfirmed_email][0] %>
            </p>
          <% end %>
        </div>
        <div class="mb-6">
          <%= form.label :password, "Nova Senha (Deixe em branco se não deseja mudar)", class: "block mb-2 text-coolGray-800 font-medium" %>
          <%= form.password_field :password, placeholder: "************", class: "appearance-none block w-full p-3 leading-5 text-coolGray-900 border border-coolGray-200 rounded-lg shadow-md placeholder-coolGray-400 focus:outline-none focus:ring-2 focus:ring-green-500 focus:ring-opacity-50"  %>
          <% unless form.object.errors[:password].empty? %>
            <p class="-mb-6 text-red-500 ml-2">
              <%= form.object.errors[:password][0] %>
            </p>
          <% end %>
        </div>
        <div class="mb-6">
          <%= form.label :password_confirmation, "Confirme sua nova senha", class: "block mb-2 text-coolGray-800 font-medium" %>
          <%= form.password_field :password_confirmation, placeholder: "************", class: "appearance-none block w-full p-3 leading-5 text-coolGray-900 border border-coolGray-200 rounded-lg shadow-md placeholder-coolGray-400 focus:outline-none focus:ring-2 focus:ring-green-500 focus:ring-opacity-50"  %>
          <% unless form.object.errors[:password_confirmation].empty? %>
            <p class="-mb-6 text-red-500 ml-2">
              <%= form.object.errors[:password_confirmation][0] %>
            </p>
          <% end %>
        </div>
        <div class="mb-4">
          <%= form.label :current_password, "Senha Atual (Precisamos dela para confirmar as mudanças)*", class: "block mb-2 text-coolGray-800 font-medium" %>
          <%= form.password_field :current_password, required: true, placeholder: "************", class: "appearance-none block w-full p-3 leading-5 text-coolGray-900 border border-coolGray-200 rounded-lg shadow-md placeholder-coolGray-400 focus:outline-none focus:ring-2 focus:ring-green-500 focus:ring-opacity-50"  %>
          <% unless form.object.errors[:current_password].empty? %>
            <p class="-mb-6 text-red-500 ml-2">
              <%= form.object.errors[:current_password][0] %>
            </p>
          <% end %>
        </div>
        <%= form.submit "Atualizar Conta", class: "inline-block py-3 px-7 mb-4 w-full text-base text-green-50 font-medium text-center leading-6 bg-green-500 hover:bg-green-600 focus:ring-2 focus:ring-green-500 focus:ring-opacity-50 rounded-md shadow-sm" %>
      <% end %>
    </div>
  </div>
</section>